#shareButton{
    position: absolute;
    bottom: 1vh;
    right: 5%;
    background-color: #04AA6D; /* Green */
    border: 2px solid #04AA6D; /* Green */
    border-radius: 5px;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    width: 5vw;
    transition-duration: 0.2s;
}

#shareButton:hover {
    background-color: white; /* Green */
    color: green;
  }